<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadcrumbs"> <span class="mainbc">TRANSACTION PROCESSING SETTINGS</span> <span style="color: #ccc;">||</span> <span class="companynamebc">{{selectedCompName}}</span><a href="#!">Switch company</a> </div>
      <div class="BgTitle"> Add a purchase agent </div>
      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="clearfix"></div>
        <div class="col-xs-12 proccessingsettingsinputs">
     <div class="clearfix"></div>
     <div class="col-md-5">
       <div class="row">
        <div class="form-group">
            <label for="acccode"> Purchase Agent </label>
            <input type="text"  name="acccode" id="acccode" [(ngModel)]="purchaseagent">
        </div>       
       </div>
     </div>
     <div class="clearfix"></div>
    <div class="col-md-5">
    <label for="mrktoreview2">
    <input type="checkbox"  name="mrktoreview2" id="mrktoreview2" [(ngModel)]="show_in_filter" style="width:4%;display:inline"> <span class="edittext" style="top:10px"> Display in TRANSACTIONS section selections </span>
    </label>
    </div>
    </div>
      <div class="addmargin40btmpx col-md-2"><div class="button_box_secfilter" style="margin:10px 0 0 0;"><div class="row"><div class="col-xs-6"><a href="javascript:void(0)" class="normal-btn gray-btn blue-btn"  (click)="addcostcenter()" rel="noreferrer noopener">Save</a></div><div class="col-xs-6"><a href="#manpurchaseagents" class="normal-btn blue-btn Reset-btn" rel="noreferrer noopener">Cancel</a></div></div></div></div>
  </div>
  <div style="position: fixed;width:60%;top:40%;left: 45%;opacity: 1;z-index: 500000;" *ngIf="loader">
    <img src="assets/images/orange_circles.gif" style="margin-bottom: 20px;width:10%"><br>
</div>   
</div>
