<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadcrumbs"> <span class="mainbc">Settings</span> <span style="color: #ccc;">||</span> <span class="companynamebc">{{selectedCompName}}</span> </div>
      <div class="BgTitle"> Company and account settings </div>
      <div class="setting_separator"></div>
    </div>
  </div>
</div>
<div class="container companycostvendordetails">
  <div class="row">
    <div class="col-xs-12">
      <div class="mainrulelist">
        <div class="settingcompany_name"> {{selectedCompName}} </div>
        <div class="editavataxcompanydetails"><span class="icon-external-link"> </span> <a href="#!" rel="noreferrer noopener"><span>Edit company and account details in AvaTax</span></a>
          <div class="settingcompanydetails">
            <div class="setcompanycode">
              <div class="detailheading">
                <p>company code</p>
              </div>
              <div class="companycode_set">
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="setaccountid">
              <div class="detailheading">
                <p>account id</p>
              </div>
              <div class="companycode_set">
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's transaction processing settings</h4>
            <p>Enable automatic data, filter and location creation when new data is imported, and disable tax calculation services</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#transettings" class="setacclink" rel="noreferrer noopener">Manage your company's transaction processing settings</a></p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's transaction processing rules</h4>
            <p>Create rules to automatically confirm and commit transactions, mark transactions for review or allocation, or calculate zero tax</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#rules" class="setacclink" rel="noreferrer noopener">Manage your company's transaction processing rules</a></p>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's cost centers</h4>
            <p>Map cost centers to default item codes and cost centers. Control which cost centers are displayed in transactions</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#mancostcenters" class="setacclink" rel="noreferrer noopener">Manage your company's cost centers.</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's vendors</h4>
            <p>Map vendors to default  item codes and cost centers. Control which vendors are displayed in transactions.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manvendors" class="setacclink" rel="noreferrer noopener">Manage your company's vendors</a></p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's Location</h4>
            <p>Set up locations to map imported data by location code, cost center, and purpose. Control which locations are displayed in transactions.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manlocations" class="setacclink" rel="noreferrer noopener">Manage your company's Location</a></p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's Purchase Agents</h4>
            <p>Map purchasing purposes to default item codes and cost centers. Control which purchasing purposes are displayed in transactions</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manpurchaseagents" class="setacclink" rel="noreferrer noopener">Manage your company's Purchase Agents</a></p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's Revenue accounts</h4>
            <p>Add revenue accounts for filtering data. Control which accounts are displayed in transactions</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manrevaccounts" class="setacclink" rel="noreferrer noopener">Manage your company's Revenue accounts</a></p>
        </div>
      </div>
    </div>
  </div>  
   <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Your company's Items</h4>
            <p>Set up the items from your Avalara account that your company purchases. Map imported item codes to default values for item name, tax codes, and purposes. Control which items are available in edit controls and filtering.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manitems" class="setacclink" rel="noreferrer noopener">Manage your company's Items</a></p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Tax Code</h4>
            <p>Set up the tax codes from your Avalara account that your company uses to control taxability. These must correspond to <a href="https://taxcode.avatax.avalara.com/"> Avalara’s Goods and Services Codes </a> or to custom tax codes in your Avatax account. Control which tax codes are available in edit controls and filtering.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#mantaxcode" class="setacclink" rel="noreferrer noopener">Manage your company's Tax Code</a></p>
        </div>
      </div>
    </div>
  </div> 
    <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Purpose</h4>
            <p>Add and modify purposes, which identify how goods and services are used within your organization. These drive Entity Use Code values passed to AvaTax to control taxability. Control which Purposes appear in edit controls and filtering.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#manpurpose" class="setacclink" rel="noreferrer noopener">Manage your company's Purpose</a></p>
        </div>
      </div>
    </div>
  </div>   
    <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Custom1</h4>
            <p>Add and modify values for Custom1, which maps to Ref1 in AvaTax and can be used to organize exports. Control the values visible in edit controls and filtering.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#mancustom1" class="setacclink" rel="noreferrer noopener">Manage your company's Custom1</a></p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="companycostcenter">
        <div class="costcenterinfo">
          <div class="infoinside">
            <h4>Custom2</h4>
            <p>Add and modify values for Custom2, which maps to Ref2 in AvaTax and can be used to organize exports. Control the values visible in edit controls and filtering.</p>
          </div>
        </div>
        <div class="managecompanycostcenter">
          <p><a href="#mancustom2" class="setacclink" rel="noreferrer noopener">Manage your company's Custom2</a></p>
        </div>
      </div>
    </div>
  </div>  
</div>